{%extends "layout.html" %}
{%block body%}
 <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static',filename='img/post-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Making of a Blog</h1>
            <h2 class="subheading">How Its Done</h2>
            <span class="meta">Posted by
              <a href="#">{{params["blog_tit"]}}</a></span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
           <a href="#">
            <img class="img-fluid" src="img/post-sample-image.jpg" alt="">
          </a>
          <span class="caption text-muted"><h3><i> You can't truly call yourself <em>"PEACEFUL"</em> unless you are capable of Great Violence.</h3>
         <h3>If you are not capable of Violence,<em>"<u>YOU ARE NOT PEACEFUL,YOU ARE HARMLESS!!</u>"</em></i></h3></span>
          <h2 class="section-heading" style="color:purple;">The Beginning</h2>

          <p>I was alomost at the final years of my Engineering, when I had some 'major personal setbacks', which made me question myself: <en>"Is this how I want to proceed with my life?"</en> </p>
          <p>So,I made up my mind about starting to learn attributes which will actually benefit me in becoming the future-self I wanted to be.</p>
          <p>At this very moment, I was coverted from an engineering student to a <u>Computer Science Aspirant</u></p>
          <p>And trust me, once you have made the above distinction clear to yourself, nothing can stop or discourage you.<b style="color: blue;">I repeat NOTHING!!!</b></p>

          <h2 class="section-heading">Pre-requsites for this project:</h2>

         <p>1.HTML (Hyper Text MarkUp Language)<br>2.CSS (Cascading Style Sheet)<br>3.JS (JavaScript)<br>4.Python (with Flask)</p><br>
         <p><strong>*NOTE:Though the website template is copied from 'Bootstrap' and then altered according to my needs, I wanted to learn <i>Html+Css+JS</i> as I plan on conquering <u>ReactJs</u> next </strong></p>
         <h2 class="section-heading">Step by Step Journey</h2>
         <p><b>Step 1:</b> Started by learning <i>'Html+Css'</i> through online tutorials on various sites.</p>
         <p><b>Step 2:</b> Quickly moved to <i>'JS'.</i><p>
         <p><b>Step 3:</b> Made individual webpages using <b>'Html+Css+JS'</b> for clear and deep understanding.(<i>Trust me, this is how you learn </i>)</p>
         <p><b>Step 4:</b> Completed a <i style='color: blue';>Python Certification Course </i> </p>
         <p><b>Step 5:</b> Learnt <i style="color: blue;">Flask</i> basics through online tutorials.</p>
         <p><b>Step 6:</b> Started making <b>My_Blog</b> using all the above knowledge combined.</p>

         <h2 class="section-heading">Creating <b>My_Blog</b>:</h2>
         <p>Even after spending so much time on pre-requisites, combining them together was not an easy task at all. But with <i><u>proper understanding, not giving up and clearing doubts on the way</u></i>(my teacher:<b>GOOGLE</b>), eventually the website started to make sense, which provided positivity for relentlessly going onn!!</p>
         <h2><i><b>THANK YOU FOR BEARING WITH ME TILL HERE :-)</b></i></h2>


          <p>Templates Credits:
            <a href="http://www.bootstrap.com/">Bootstrap</a>. Photographs by
            <a href="https://www.google.com/">Google Images</a>.</p>
        </div>
      </div>
    </div>
  </article>
  {%endblock%}


